{% extends "base.html" %}


{% block content%}
<p>Newest recipe: {% if newest.as_ref().is_some() %}<a
        href="/recipe/edit/{{newest.as_ref().unwrap().recipe_id.as_ref().unwrap()}}">{{newest.as_ref().unwrap().recipe_name.as_ref().unwrap()}}</a>{%
    else%}-{% endif %}</p>

<form id="form" method="post">
    <label for="name">Name</label>
    <input id="name" name="name" required type="text"><br>
    <label for="season">Season</label>

    <select id="season" name="season" required>
        {% for season in seasons %}
        <option {% if prefill.season.is_some() && prefill.season.unwrap()== season.value_rofl() %} selected {% endif %}
                value="{{season.value_rofl()}}">{{season.to_string()}}
        </option>
        {% endfor %}

    </select><br>
    <label for="course">Course</label>

    <select id="course" name="course" required>
        {% for course in courses %}
        <option {% if prefill.course.is_some() && course.course_id.unwrap()== prefill.course.unwrap() %} selected {%
                endif %}
                value="{{course.course_id.unwrap()}}">{{course.course_name.as_ref().unwrap()}}
        </option>
        {% endfor %}
    </select><br>
    <label for="book">Book</label>
    <select id="book" name="book">
        <option value="-1"></option>
        {% for book in books%}
        <option {% if prefill.book.is_some() && book.book_id.unwrap()== prefill.book.unwrap() %} selected {% endif %}
                value="{{book.book_id.unwrap()}}">{{book.book_name.as_ref().unwrap()}}
        </option>
        {% endfor %}
    </select><br>

    <label for="recipe_url">URL</label>
    <input id="recipe_url" name="recipe_url" type="text"><br>

    <label for="page">Page</label>
    <input id="page" name="page" type="number"><br>

    <p>Ingredients
    <ul>
        <li>English please</li>
        <li>Separate with line break</li>
        <li>Singular preferred</li>
    </ul>
    </p>
    <label for="ingredients">Ingredients</label>
    <textarea name="ingredients"></textarea><br>

    <label for="recipe_text">Recipe Text</label>
    <textarea name="recipe_text"></textarea><br>


    <input type="submit" value="Submit">
</form>
{% endblock %}
