<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <title>{% block title %}{{ title }} - Recipes{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    {% block head %}{% endblock %}
    <style>
        .js-neighborino-collapsed::after {
            content: "[+]";
            font-family: monospace;
           
        }

        .js-neighborino-visible::after {
            content: "[-]";
            font-family: monospace;
        }

                .js-collapsed {
            display: none !important;
        }



        .js-collapsible {
            padding-left: 10px;
        }

        .js-collapsible-inner {
            padding-left: 30px;
        }
    </style>

    {% block scripts %}{% endblock %}

    <script>
        addEventListener('DOMContentLoaded', (event) => {

            let collapsibles = document.getElementsByClassName("js-collapse");
            for (const collapsible of collapsibles) {
                collapsible.addEventListener('click', () => {
                    let child = collapsible.nextElementSibling

                    if (collapsible.classList.contains("js-neighborino-visible")) {
                        collapsible.classList.remove("js-neighborino-visible");
                        collapsible.classList.add("js-neighborino-collapsed")
                        child.classList.add("js-collapsed")



                    } else {
                        collapsible.classList.add("js-neighborino-visible");
                        collapsible.classList.remove("js-neighborino-collapsed")
                        child.classList.remove("js-collapsed")
                    }

                })
            }
        });
    </script>
</head>

<nav class="navbar navbar-expand-lg justify-content-center {% if debug_compilation %} border border-warning {% endif %}">
    <div class="navbar-nav ">
            {% for course in courses %}
            <a class="nav-item nav-link" href="/course/{{course.course_name.as_ref().unwrap()}}">
                {{course.course_name.as_ref().unwrap()}} </a>

            {% endfor %}

            {% if user_id.is_none() %}
            <a class="nav-item nav-link" href="/login">Log in</a>
            {% else %}
            <a class="nav-item nav-link" href="/book/add">Add book</a>
            <a class="nav-item nav-link" href="/recipe/add">Add recipe</a>
            <a class="nav-item nav-link" href="/search">Search</a>
            {% endif %}

    </div>
    </nav>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<header>

</header>


    <div class="container {% if debug_compilation %} border border-warning {% endif %}" id="content">
    {% block content %}{% endblock %}
    Version: {{build_version}}
</div>
</body>
</html>
