{% extends "base.html" %}


{% block content%}
{% for season in seasons %}
<h1>{{season.to_string()}}</h1>
{% for book in books %}
{% let book_id = book.book_id.unwrap() %}
{% if recipes_per_book_season.contains_key((season.value_rofl(), book_id)) %}

<h2>{{ book.book_name.clone().unwrap()}}</h2>
<ul>
    {% let opt_recipes = recipes_per_book_season.get((season.value_rofl(), book_id)) %}

    {% for recipe in opt_recipes.unwrap() %}
    <li> {{ recipe.recipe_name.clone().unwrap() }} - {% if recipe.page.is_some() %} {{ recipe.page.unwrap() }} {% endif
        %} {% if logged_in %} {% if tried.contains(recipe.recipe_id.unwrap()) %} ✅ {% else %} ❌ {% endif %} {% endif %}
    </li>
    {% endfor %}
    {% endif %}
</ul>


{% endfor %}

{% endfor %}
{% endblock %}