{% extends "base.html" %}


{% block scripts %}
<script>
    addEventListener('DOMContentLoaded', (event) => {
        let btns = document.getElementsByClassName("js-btn-tried");
        for (const btn of btns) {
            let recipeId = btn.dataset.id
            btn.addEventListener('click', () => {
                fetch('/api/tried/' + recipeId, {
                    method: 'POST'
                }).then(
                    () => {
                        if (btn.classList.contains("tried-true")) {
                            btn.classList.remove("tried-true")
                            btn.classList.remove("btn-info")
                            btn.classList.add("btn-primary")
                            btn.innerHTML = "tried?"
                        } else {
                            btn.classList.add("tried-true")
                            btn.classList.remove("btn-primary")
                            btn.classList.add("btn-info")
                            btn.innerHTML = "misclicked?"
                        }
                    }
                )
            })
        }
    });
</script>
{% endblock %}

{% block content%}
    <h2>Legend</h2>
    <ul>
        <li>💬 - Comments</li>
        <li>🗒️ - Recipe text</li>
    </ul>
{% for season_source in recipes_by_season_and_source %}
{% let season = season_source.clone().0 %}
{% let sources = season_source.clone().1 %}


    <h1 class="js-collapse js-neighborino-visible">{{season.to_string()}} </h1>
<div style="display: block" class="js-collapsible">

    <hr>

    {% for source in sources%}
    <h2 class="js-collapse js-collapsible js-neighborino-visible">{{source.clone().0}}</h2>
    {% let recipes = source.clone().1 %}
    <ul class="list-group">
        {% for recipe in recipes %}

        {% let cur_id = recipe.recipe_id.as_ref().unwrap() %}
        {% let id_ref = (recipe.recipe_id.as_ref().unwrap()|asref) %}
        {% let has_tried = tried.contains(id_ref) %}
        <li class="list-group-item"><a href="/recipe/detail/{{recipe.recipe_id.as_ref().unwrap()}}"> {{ recipe.recipe_name.clone().unwrap()
            }} </a>
            - {% if recipe.page.is_some() %} {{ recipe.page.unwrap() }} {% endif
            %} {% if logged_in %}
            <button class="js-btn-tried btn {% if has_tried %}  tried-true  btn-info {% else %}   btn btn-primary {% endif %} "
                    data-id="{{ id_ref }}"
                    id="js-btn-tried-{{cur_id}}"> {% if has_tried %} misclicked? {% else%} tried? {% endif %}
            </button>
            {% endif %}
            {% if recipe.recipe_url.as_ref().is_some() %} <a href="{{recipe.recipe_url.as_ref().unwrap()}}">Link</a>
            {% endif %}
            {% let ingredients = recipes_to_ingredients.get(recipe.recipe_id.as_ref().unwrap()) %}
            {% if ingredients.is_some()%}
            <span class="js-collapse js-neighborino-collapsed">Ingredients</span>
            <ul class="list-group js-collapsed" >
                {% for ingredient in ingredients.unwrap() %}
                <li class="list-group-item" >{{ingredient}}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% if commented.contains(id_ref) %}💬{% endif %}
            {% if texted.contains(id_ref) %}🗒️{% endif %}


        </li>
        {% endfor %}
    </ul>
    {% endfor %}
</div>
{% endfor %}
{% endblock %}