{% extends "base.html" %}


{% block scripts %}
<script>
    addEventListener('DOMContentLoaded', (event) => {
        let btns = document.getElementsByClassName("js-btn-tried");
        for (const btn of btns) {
            let recipeId = btn.dataset.id
            btn.addEventListener('click', () => {
                fetch('/api/tried/' + recipeId, {
                    method: 'POST'
                }).then(
                    () => {
                        if (btn.classList.contains("tried-yes")) {
                            btn.classList.remove("tried-yes")
                            btn.innerHTML = "❌"
                        } else {
                            btn.classList.add("tried-yes")
                            btn.innerHTML = "✅"
                        }
                    }
                )
            })
        }
    });
</script>
{% endblock %}

{% block content %}
<h1>{{recipe.recipe_name.as_ref().unwrap()}}</h1>
<table id="table-recipe-detail">
    <tr>
        <th>Season</th>
        <td> {{season}}</td>
    </tr>
    <tr>
        <th>Course</th>
        <td> {{course}}</td>
    </tr>
    <tr>
        <th>Url</th>
        <td> {% if recipe.recipe_url.as_ref().is_some() %} <a href="{{recipe.recipe_url.as_ref().unwrap()}}">Link</a> {%
            else %} - {% endif %}
        </td>
    </tr>
    <tr>
        <th>Book</th>
        <td>{% if book_name.as_ref().is_some() %}{{book_name.as_ref().unwrap()}}{% else %}-{% endif %}</td>
    </tr>
    <tr>
        <th>Page</th>
        <td>{% if recipe.page.as_ref().is_some() %}{{recipe.page.as_ref().unwrap()}}{% else %}-{% endif %}</td>
    </tr>
    <tr>
        <th>Tried</th>
        <td data-id="{{recipe.recipe_id.unwrap()}}"
            class="js-btn-tried {% if tried %}tried-yes{% else %}not-tried{% endif %}">{% if tried %}✅{% else %}❌{%
            endif %}
        </td>
    </tr>

    <div>
        <a class="btn" href="/recipe/edit/{{recipe.recipe_id.unwrap()}}">Edit</a>
    </div>

</table>
<div id="div-ingredients">
    <h2>Ingredients for searching</h2>
    <ul id="list-ingredients">
        {% for ingredient in ingredients %}
        <li>{{ingredient}}</li>
        {% endfor %}
    </ul>
</div>

<div id="div-recipe-text">
    <h2>Recipe Text</h2>
    <pre>{{recipe_text}}</pre>
</div>

<div id="div-recipe-detail-comment-form">
    <form method="post">
        <label for="comment">Comment</label>
        <textarea name="comment"></textarea>
        <input type="submit" value="Submit">

    </form>
</div>

<div id="div-comments">
    <h2>Comments</h2>
    {% for comment in comments %}
    <h3>{{comment.user_id}} at {{comment.created_at}} </h3>
    {{comment.content}}
    {% endfor %}
</div>

{% endblock %}