{% extends "base.html" %}
{% block title %}Search{% endblock %}


{% block head %}
<style>
</style>
{% endblock %}


{% block content %}
<form id="form" method="post" target="/search">
    <label for="name">Search</label>
    <input id="name" name="name" type="text"><br>

    <label for="season">Season</label>
    <select id="season" name="season" required>
        <option value="-1"></option>
        {% for season in seasons %}
        <option value="{{season.value_rofl()}}">{{season.to_string()}}
        </option>
        {% endfor %}

    </select><br>
    <label for="course">Course</label>

    <select id="course" name="course">
        <option value="-1">-</option>
        {% for course in courses %}
        <option value="{{course.course_id.unwrap()}}">{{course.course_name.as_ref().unwrap()}}
        </option>
        {% endfor %}
    </select> <br>
    <label for="book">Book</label>
    <select id="book" name="book">
        <option value="-1">-</option>
        {% for book in books%}
        <option value="{{book.book_id.unwrap()}}">{{book.book_name.as_ref().unwrap()}}
        </option>
        {% endfor %}
    </select> <br>
    <label for="tried">Tried</label>
    <select id="tried" name="tried" required>
        <option value="0">-</option>
        <option value="1">Yes</option>
        <option value="2">No</option>

        </option>

    </select> <br>

    <input type="submit" value="form">
</form>
{% if recipes.is_some() %}
<ul>
    {% for recipe in recipes.as_ref().unwrap() %}
    <li><a href="/recipe/detail/{{recipe.recipe_id.as_ref().unwrap()}}">{{recipe.recipe_name.as_ref().unwrap()}}</a>
        {% if recipe.recipe_url.as_ref().is_some() %} - <a href="//{{recipe.recipe_url.as_ref().unwrap()}}">Link</a> {%
        endif %}

    </li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}