{% extends "base.html" %}
{% block title %}Search{% endblock %}


{% block head %}
<style>
</style>
{% endblock %}


{% block content %}
      <div class="form-group">
<form id="form" method="post" target="/search">
    <label for="name">Search</label>
    <input class="form-control" id="name" name="name" type="text" value="{{ prefill.template_name() }}"><br>

    <label for="season">Season</label>
    <select id="season" name="season" class="form-select" required>
        <option value="-1"></option>
        {% for season in seasons %}
        <option value="{{season.value_rofl()}}" {% if prefill.season.unwrap_or(-1) == season.value_i32()  %}selected{% endif %}>{{season.to_string()}}
        </option>
        {% endfor %}

    </select><br>
    <label for="course">Course</label>

    <select id="course" name="course" class="form-select">
        <option value="-1">-</option>
        {% for course in courses %}
        <option value="{{course.course_id.unwrap()}}" {% if course.course_id.unwrap() == prefill.course.unwrap_or(-1) %}selected{% endif %}>{{course.course_name.as_ref().unwrap()}}
        </option>
        {% endfor %}
    </select> <br>
    <label for="book">Book</label>
    <select id="book" name="book" class="form-select">
        <option value="-1">-</option>
        {% for book in books%}
        <option value="{{book.book_id.unwrap()}}" {% if book.book_id.unwrap() == prefill.book.unwrap_or(-1) %}selected{% endif %}>{{book.book_name.as_ref().unwrap()}}
        </option>
        {% endfor %}
    </select> <br>
    <label for="tried">Tried</label>
    <select id="tried" name="tried" required class="form-select">
        <option value="0" {% if prefill.tried == 0 %}selected{% endif %}>-</option>
        <option value="1" {% if prefill.tried == 1 %}selected{% endif %}>Yes</option>
        <option value="2" {% if prefill.tried == 2 %}selected{% endif %}>No</option>
    </select> <br>

    <input type="submit" value="Search">
</form>
      </div>
{% if recipes.is_some() %}
<ul class="list-group">
    {% for recipe in recipes.as_ref().unwrap() %}
    <li class="list-group-item"><a href="/recipe/detail/{{recipe.recipe_id.as_ref().unwrap()}}">{{recipe.recipe_name.as_ref().unwrap()}}</a>
        {% if recipe.recipe_url.as_ref().is_some() %} - <a href="//{{recipe.recipe_url.as_ref().unwrap()}}">Link</a>{%
        endif %}
        {% let ingredients = recipes_to_ingredients.get(recipe.recipe_id.as_ref().unwrap()) %}
        {% if ingredients.is_some()%}
        <span class="js-collapse js-neighborino-collapsed">Ingredients</span>
        <ul class="js-collapsible list-group js-collapsed">
            {% for ingredient in ingredients.unwrap() %}
            <li  class="list-group-item">{{ingredient}}</li>
            {% endfor %}
        </ul>
        {% endif %}

    </li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}